.container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  flex-wrap: nowrap;
}



.task_section {
  margin-top: 40px;
}

.top_line {
  width: 64px;
  border: 2px solid $primary_color;
}

.no_tasks {
  color: $text-color;
  font-size: 23px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

//Добавление задачи

.task {
  background-color: $task_background;
  border: 1px solid $primary_color;
  height: 44px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  color: $font-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task .text-container {
  width: 90%;
}

.task .title {
  font-size: 22px;
  margin: 0;
}

.task .about {
  font-size: 14px;
  margin: 0;
}

.task .about,
.task .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
