//_text.scss
.text_container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.input {
  height: 32px;
  font-size: 10px;
  color: $text-color;
  background-color: $task_background;
  border: 1px solid $primary_color;
  border-radius: 4px;
  padding: 0 10px;
}

.textarea {
  font-size: 14px;
  color: $text-color;
  background-color: $task_background;
  border: 1px solid $primary_color;
  border-radius: 4px;
  padding: 0 10px;
  resize: none;
}
